.time {
	background: #D3D3D3;
	color: black;
    border-collapse: collapse;
	text-align: center;
    padding: 0.15em;
}
.slot {
	background: white;
    padding: 0.15em;
}

.yourBooking {
	background: #0F0;
}

.booked {
	background: #F00;
}

fieldset {
    margin: 8px;
    border: 1px solid black;
    padding: 8px;    
    border-radius: 4px;
	width: 20%;
	position: absolute;
    background-color: white;
    padding: 0.15em;
}

.white {
	list-style-type: square;
	color: white;
	font-size: 20px;
}

.red {
	color: #F00;
}

.green {
	color: limegreen;
}

legend {
	font-size:15px;
}

.room {
	background: #D3D3D3;
    padding: 0.15em;
}

.date {
	background: lightslategray;
    padding: 0.15em;
    color: white;
    font-weight: normal;
}

.legendTitle {
    text-decoration: underline;
}

#legendContainer {
    border-left: 1px solid grey;
    width: 13.7%;
    padding: 0.8%;
    float: left;
    text-align: left;
}