.time {
	background: #D3D3D3;
	color: black;
    border-collapse: collapse;
	text-align: center;
    padding: 0.15em;
    font-family: 'Abel', sans-serif;
}
.slot {
	background: white;
    padding: 0.15em;
}

.yourBooking {
	background-color:#0F0;
	
}

.booked {
	background: #F00;
}

fieldset {
    margin: 8px;
    border: 1px solid black;
    padding: 8px;    
    border-radius: 4px;
	width: 20%;
	position: absolute;
    background-color: white;
    padding: 0.15em;
}

.white {
	list-style-type: square;
	color: white;
	font-size: 20px;
}

.red {
	color: #F00;
    font-family: 'Abel', sans-serif;
    font-size: 110%;
}

.green {
	color: limegreen;
    font-family: 'Abel', sans-serif;
    font-size: 110%;
}

legend {
	font-size:15px;
}

.room {
	background: #D3D3D3;
    padding: 0.15em;
    font-family: 'Abel', sans-serif;
}

.date {
	background: lightslategray;
    padding: 0.15em;
    color: white;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    font-size: 110%;
}

.legendTitle {
   /* text-decoration: underline;*/
    font-weight: bolder;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 140%;
}

#legendContainer {
    border: 1px solid grey;
    border-radius: 5px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2%;
    text-align: center;
    background-color: white;
}