.time {
	background: #87CEFA;
	color: black;
    border-collapse: collapse;
	text-align: center;
    padding: 0.15em;
}
.slot {
	background: white;
    padding: 0.15em;
}

.yourBooking {
	background: #0F0;
}

.booked {
	background: #F00;
}
fieldset {
    margin: 8px;
    border: 1px solid black;
    padding: 8px;    
    border-radius: 4px;
	width: 20%;
	position: absolute;
    background-color: LightSteelBlue ;
    padding: 0.15em;
}
#white {
	list-style-type: square;
	color: white;
	font-size: 20px;
}
#red {
	list-style-type: square;
	color: red;
	font-size: 20px;
}
#green {
	list-style-type: square;
	color: green;
	font-size: 20px;
}
legend {
	font-size:15px;
}
.room {
	background: #D3D3D3;
    padding: 0.15em;
}
.date {
	background: #B0C4DE;
    padding: 0.15em;
}